.bg-sliver {
  background-color: #d7cccc42;
}

.box{
    background-color: aqua;
    min-height: 30px;
    margin-top: 10px;
}
.product-img {
  max-width: 100%;
  height: auto;
}
.product-info {
  margin-top: 20px;
}
.product-description {
  margin-top: 30px;
}
.product-title {
  font-size: 36px;
  font-weight: bold;
  display: inline;
}
.product-price-new {
  font-size: 24px;
  color: #000;
}
.product-price-old {
  text-decoration: line-through;
  font-size: 20px;
  color: #ccc;
}
.list-group-item.no-border{
  border: none;
}
.tra-gop{
  background-color: #ccc;
  padding: 5px;
  margin-left: 10px;
}
.sao-danh-gia {
  line-height: 48px;
  text-decoration: none;
}


/* Cart */
.display-inline {
  display: inline;
}
#promotion {
  display: none;
}
#promotion1 {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}